{% extends 'base.html' %} 
{% load bootstrap4 %} 
{% block content %} 
{{block.super}}
<div class="container mt-5" style="background-color:#87CEEB">
  <div class="row mt-3"></div>
  <div class="row mt-5">

    <div class="col-md-8">
      <p style="font-family: 'Forum', cursive;font-size:25px;">Hello<b>  {{user }} ! </b> <b>Welcome.</b></br><a href="{% url 'edit' %}" class="btn btn-primary">Create Your Profile</a></p>
      {% for image in images %} {% if image.image %}
      <div class="card">

        <div class="card-header" style="font-family: 'Forum', cursive;">
          <img src="{{image.profile.profilePic.url}}" class="img-fluid rounded-circle" style="width:10%;height:10%"> {% if profile.user.id == image.user.id %}
          <a href="{% url 'profile' %}">{{image.user.username}}</a> {% else %}
          <a href="{% url 'yourprofile' pk=image.user.id %}">{{image.user.username}}</a> {% endif %}
        </div>
          <br>
        <div class="card-body">
          <img src="{{image.image.url}}" alt="" class="image-fluid" style="width:80%; height:100%">
          <hr>

          <br>

           {% if image.likes >= 1 %}

          <div class="row">
            <h5 style="padding:8px; color:red;"><b>{{image.likes}} likes</b></h5>
          </div>

          {% endif %}
          <div class="row">
            <h5 style="padding: 8px"><a href="{% url 'yourprofile' pk=image.user.id %}"><b>{{image.user.username}}</b></a> {{image.caption}}</h5>
          </div>

          <h6>{{image.upload_date | timesince}} ago</h6>
          <hr> {% for comment in comments %} {% if image.id == comment.image.id %}
          <p><b>{{comment.user}}</b> {{comment.comments}}</p>
          {% endif %} {% endfor %}

        </div>


      </div>

      {% endif %}
      <br><br> {% endfor %}
    </div>
    
  </div>
</div>

</div>
{% endblock %}